
main.css

.menu ul{
}

body{
	 overflow-x: hidden;
	 overflow-y: hidden;
	 	background: url("bgweb3.png");
	 	background-repeat: no-repeat;
	 	background-size: 100vmax 100vmin;
	 	min-width: 100vmax;
	 	min-height: 100vmin;
	 -ms-transform: scale(0.8);
	 -moz-transform: scale(0.95);
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;   
}
/*for safari-!*/
@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) { @media { 
	body { 
		-webkit-transform: scale(0.8);
    -webkit-transform-origin: top left;
		} } }


.menu > img{
	width:70%;	
	display: block;
}
#aboutinfo li{
	list-style:none;
	margin:0%;
	padding:0%;
	
}
#aboutinfo ul{
	margin:0%;
	padding:0%;
	
}

h2,p,h3,a{
	color:#66e0ff;
}
a{
	text-decoration:none;
	font-size:2vh;
}
p{
	font-size:2vh;
}
h3{
	font-size:2.3vh;
}
h2{
	font-size: 3vh;
}
.menu{
 	top:7%;
	height: 100%;
	left:10%;
	bottom:10%;
	width: 18%;
	z-index:1;
	position:absolute;
}
#buttonstar{
	width=18%;
	display: inline;
	margin: 0;
	position: relative;
}

.menu .star{
	background: url("button.png");
	vertical-align: middle;
	margin-left: 5%;
	background-size: 80%;
	width: 7vh;
	height:7vh;
	background-repeat:no-repeat;
	border: none;	
	transition-duration:0.3s;	
	-moz-transition: 0.3s;
	-ms-transition: background 0.3s;
	-webkit-transition: background 0.3s;
	-ms-transform: rotate(7deg); 
    -webkit-transform: rotate(7deg); 
    transform: rotate(7deg);
    margin-bottom:0%;
    padding-left: 10%;
}
.menu.star:hover{
	background-color:#fff333;
}

.actual{
	text-transform: uppercase;
	margin-left: -10%;
	padding-left:15%;
	margin-top:0%;
	font-size: 2vh;
	font-weight:bold;
	font-family: helvetica;
	color:#66e0ff;
	background-color: Transparent;
	border:none;
	outline:none;
	    margin-bottom:0%;
}
.actual:hover{
	cursor: pointer;
}

/*for safari-!*/
@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) { @media { 
	#buttonlist { 
		margin-top:-150%;
		} } }

.hidden{
	display:none;
}

.mainpage{	
	position:relative;
	padding-left:28%;
	margin-top:5%;
	width:72%;
	z-index:0;
}

#gallerytable{
	padding-top:-2%;

}
#gallery > #gallerytable > a > img{
	padding: 1px 0px 1px 0px;
	border: 1vh solid #66e0ff;
	width: 8%;
	max-width: 60vmax;
	max-height: 60vmax;
}
#gallery > #gallerytable > a > img:hover{
	 outline: 0.7vh solid #66e0ff; 
}
#Original{
	position:relative;
	top:20px;
}
#Original> a > img{
	padding: 1px 1px 1px 1px;
	border: 1vh solid #66e0ff;
	width: 8%;
	max-width: 60vmax;
	max-height: 60vmax;
	text-decoration: none;
}
#Original > a > img:hover{
	 outline: 0.7vh solid #66e0ff; 
}
#projectinfo>ul{
	margin:0%;
	padding:0%;
	width:72%;
}
#projectinfo>ul>li{
	margin:0%;
	padding:0%;
	width:72%;
	margin-bottom:10%;
}
#projectinfo>ul>li>p,#projectinfo>ul>li>h3{
	margin:0%;
}
#projectinfo >ul >li >img{
	float:right;
	max-width: 20%;
	border:0.8vh solid #66e0ff;	
}

#projectinfo >ul >li >button{
	left:60%;
	background:#66e0ff;
	font-size: 2vh;
	border-radius:1vh;
	border:none;
	font-style:italic;
	font-size:2vh;
}

